header{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
}
input{
    all:unset;
    border-bottom: 2px solid black;
}
header>span{
    cursor: pointer;
}