section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: radial-gradient(white, silver);
    min-height: calc(100vh - 100px);
}